.navbar-brand{
    font-family: "Bariol";
    color: #fff !important;
    font-weight: bold;
    font-size: 40px;
}
.navbar-custom{
    border-radius: 0;
    background: #180e37;
    margin-bottom: 0;
}
.navbar-right li a{
    text-transform: uppercase;
}
#top{
    background: #1c1142;
    color: #fff
}
