{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="We create a better reading experience for your children by making personalized comic books. Our books are not only fun to read, they are also a great source of information, providing your children interesting facts." />
        <meta name="author" content="BUK" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="BUK - Personalized Books for children" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="We create a better reading experience for your children by making personalized comic books. Our books are not only fun to read, they are also a great source of information, providing your children interesting facts." />
        <meta property="og:image" content="http://buk.md{% static 'images/favico.png' %}" />
        <meta property="og:url" content="http://buk.md" />
        <meta name="theme-color" content="#180e37">

        <title>BUK | Personalized Books for children</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favico.png' %}"/>
        <link rel="apple-touch-icon" type="image/png" href="{% static 'images/favico.png' %}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
        <style type="text/css">
        @font-face {
            font-family: "Bariol";
            src: url({% static 'fonts/Bariol_Regular.otf' %}) format("truetype");
        }
        @font-face {
            font-family: "Bariol";
            src: url({% static 'fonts/Bariol_Bold.otf' %}) format("truetype");
            font-weight: bold
        }
        </style>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!-- Google Analytics Code Here -->
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-custom">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        buk
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li><a class="page-scroll" href="#">About Us</a></li> -->
                        <li><a class="page-scroll" href="#product">Product</a></li>
                        <li><a class="page-scroll" href="#shipping">How it works?</a></li>
                        <li><a class="page-scroll" style="color:#6ff4a9" href="#order">Order Now</a></li>
                        <li><a class="page-scroll" href="#bottom">Contact us</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        {% block main %}{% endblock main %}

        <section id="bottom" class="container-fluid content-section text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2" style="padding-top:20px;">
                    <h2 class="section-heading"><span>Get in touch</span></h2>
                    <div style="margin:10px 0 30px 0">
                        <p class="footer-text">Have any questions or suggestions?<br>Just want to say hi? We're listening!</p>
                        <p class="email"><a href="mailto:bukteam@gmail.com">bukteam@gmail.com</a></p>
                        <ul class="list-inline banner-social-buttons">
                            <li>
                                <a target="_blank" href="https://www.facebook.com/create.a.buk" class="btn btn-buk-inversed btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">| Facebook</span></a>
                            </li>
                            <!-- <li>
                                <a target="_blank" href="https://plus.google.com/" class="btn btn-buk-inversed btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">| Google+</span></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <script src="{% static 'js/jquery.bootstrap.easing.min.js' %}"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        $(function() {
            $('a.page-scroll').bind('click', function(event) {
                var $anchor = $(this);
                $('html, body').stop().animate({
                    scrollTop: $($anchor.attr('href')).offset().top
                }, 1500, 'easeInOutExpo');
                event.preventDefault();
            });
        });
        </script>
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@id": "https://buk.md/#organization",
            "@type": "Organization",
            "name": "Buk",
            "url": "https://buk.md/",
            "logo": "{% static 'images/favico.png' %}",
            "contactPoint": [
                {
                    "@type": "ContactPoint",
                    "telephone": "+37368469990",
                    "contactType": "sales"
                }
            ],
            "sameAs": [
                "https://www.facebook.com/create.a.buk",
                // "https://www.instagram.com/",
                // "https://plus.google.com/"
            ]
        }
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "breadcrumb": "Books > Educational > buk of science",
            "mainEntity":{
                "@type": "Book",
                "author": "http://www.buk.md",
                "bookFormat": "http://schema.org/EBook",
                "datePublished": "2017-01-01",
                "image": "{% static 'images/book-cover.jpg' %}",
                "inLanguage": "English",
                "name": "buk of science",
                "numberOfPages": "50",
                "offers": {
                    "@type": "Offer",
                    "availability": "http://schema.org/InStock",
                    "price": "19.99",
                    "priceCurrency": "USD"
                },
                "publisher": "BUK",
                "aggregateRating": {
                    "@type": "AggregateRating",
                    "ratingValue": "5",
                    "reviewCount": "542"
                }
            }
        }
        </script>
    </body>
</html>
