{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
<section id="top" class="container-fluid content-section text-center">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div style="margin:30px 0 65px 0">
                <span class="top-welcome">Hello. We're <b>buk.</b></span>
                <h2 class="top-title">We make your children <br>the heroes of their stories.</h2>
            </div>
        </div>
    </div>
</section>

<section id="product" class="container-fluid content-section text-center" style="padding-top:20px;padding-bottom:40px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="section-heading violet"><span>Our product</span></h2>
            <p class="book-name"><b>>>buk of science</b> with<i> Albert Einstein</i><b>  -  300 lei</b></p>
            <p class="book-description"><b>buk of science</b> – consists of 50 pages, which follow a unique story, accompanied by slick explanations of scientific phenomena. The book will be personalized for your child. Just fill out the <a href="#order" class="page-scroll">form below!</a> </p>
            <img style="width:100%" src="{% static 'images/buk-of-science.png' %}" alt="buk of science">
        </div>
    </div>
</section>

<section id="shipping" class="container-fluid content-section text-center" style="padding-top:20px;padding-bottom:40px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="section-heading violet"><span>How it works?</span></h2>
            <h3 class="order-heading"><b>#1</b> Complete the <a class="page-scroll" href="#order">order form.</a></h3>
            <h3 class="order-heading"><b>#2</b> After we receive your order, our team builds your <b>buk</b>, which takes from 3 to 7 working days.</h3>
            <h3 class="order-heading"><b>#3</b> We ship your <b>buk</b> to the specified address. If you live outside Chișinău an additional fee for shipping may be applied.</h3>
        </div>
    </div>
</section>

<section id="order" class="container-fluid content-section text-center" style="padding-top:20px;padding-bottom:40px;">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2 class="section-heading violet"><span>Order now</span></h2>
            <form action="/order/" method="post" class="form-horizontal">
                {% csrf_token %}
                <h3 class="order-heading"><b>#1</b> Tell us about yourself</h3>
                <div id="customer_name" class="form-group">
                    <label for="customer_name" class="col-md-2 control-label"><span data-toggle="tooltip" title="Your name">Name</span></label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="customer_name" placeholder="John Doe" required>
                    </div>
                </div>
                <div id="customer_email" class="form-group">
                    <label for="customer_email" class="col-md-2 control-label"><span data-toggle="tooltip" title="Your email">Email</span></label>
                    <div class="col-md-10">
                        <input class="form-control" type="email" name="customer_email" placeholder="example@example.com" required>
                    </div>
                </div>
                <div id="customer_phone" class="form-group">
                    <label for="customer_phone" class="col-md-2 control-label"><span data-toggle="tooltip" title="your phone">Phone</span></label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="customer_phone" placeholder="+37369123456" required>
                    </div>
                </div>
                <h3 class="order-heading"><b>#2</b> Tell us about your child</h3>
                <div id="name" class="form-group">
                    <label for="name" class="col-md-2 control-label"><span data-toggle="tooltip" title="Name of your kid">Name</span></label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="name" placeholder="Diamond" required>
                    </div>
                </div>
                <div id="age" class="form-group">
                    <label for="age" class="col-md-2 control-label"><span data-toggle="tooltip" title="Age of your kid">Age</span></label>
                    <div class="col-md-10">
                        <input class="form-control" min="0" type="number" name="age" placeholder="5" required>
                    </div>
                </div>
                <div id="gender" class="form-group">
                    <label for="gender" class="col-md-2 control-label"><span data-toggle="tooltip" title="Gender of your kid">Gender</span></label>
                    <div class="col-md-10">
                        <select class="form-control" name="gender">
                            <option value="0">Male</option>
                            <option value="1">Female</option>
                        </select>
                    </div>
                </div>
                <input type="submit" class="btn btn-buk" value="submit">
            </form>
        </div>
    </div>
</section>
{% endblock main %}
