{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}

<section id="order" class="container-fluid content-section text-center" style="padding-top:20px;padding-bottom:40px;">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="section-heading"><span>Thank you for ordering! We will get in touch soon.</span></h2>
        </div>
    </div>
</section>

{% endblock main %}
